<!DOCTYPE html>

<!-- ШАБЛОН СТРАНИЦЫ "О САЙТЕ" -->

{% extends 'base.html' %}

{% block title %} О сайте {% endblock title %}

{% block content %}

    <!-- ТУТ НИЧЕГО НЕОБЫЧНОГО. ПРОСТО ЗАГОЛОВОК И ТЕКСТ ПАРАГРАФАМИ -->
    <h2>О сайте</h2>

        <p>Этот сайт создан для того чтобы все потерявшиеся животные вернулись домой, а животные у которых пока нет дома - обрели его</p>
        <p>Объявления на сайте не несут коммерческий характер. Объявления о покупке/продаже животных к публикации не принимаются</p>
        <br>
        <p>С уважением, администрация сайта.</p>


{% endblock content %}
